@charset "utf-8";
/* CSS Document */
@font-face {
font-family:"FontDigital";
src: url( ARLRDBD.TTF);
}
body{
	margin: 0;
	padding: 0;
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
}
body{
	background-color: #000000;
	width: auto;
	height: auto;
}

#alas{
	background: #FFFFFF;
	height: 620px;
	border: solid thin #FF0004;
	
}
#alas .kepala{
	color: antiquewhite;
	width: 100px;
	height: 100px;
}

#alas .gambar1{
	width: 1534px;
	margin-top: -250px;
	src:  url(DESAIN.png);
}